body {
    font-family: 'Prompt', sans-serif;
    background-color: #ededed;
    color: #333;
}


nav {
    width: 100%;
    height: 64px;
    background-color: #FFFFFF;
    margin: 0 0 42px 0;
}

nav h1 {
    color: #433878;
    font-size: 24px;
    width: 319px;
    height: 36px;
    padding-top: 14px;
    padding-left: 46px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.hidden {
    display: none;
}

.main_containner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 869px;   
    margin: 0 auto;
    column-gap: 34px;
}

.menu, .function, .monitor {
    width: 100%;
}

.menu {
    background-color: #FFFFFF;
    width: 15%;
    height: 336px;
    border-radius: 10px;
    align-self: start;
}

.menutext {
    margin-top: 12.5%;
    margin-left: 14px;
}

.menutext p {
    display: flex;
    column-gap: 7px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24.19px;
    align-items: center;
}

.menutext p:hover {
    background-color: #333;
    border-radius: 10px;
    transition: 0.4s;
}

.function {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 546px;
    height: 869px;
    border-radius: 10px;
}

.function .container {
    width: 468.68px;
    height: 521px;
    margin-top: 40px;
}

.function .container h2 {
    color: #433878;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.function #homeContainer {
    width: 85.84%;
    height: 68.81%;
    align-self: center;
}

.function #homeContainer img {
    width: 100%;
    height: 58.69%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.function #homeContainer p {
    font-family: Prompt;
    font-size: 36px;
    font-weight: 600;
    line-height: 54.43px;
    text-align: center;
    color: #433878;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

#addRoomForm input[type="number"] {
    height: 44px;
    border-radius: 10px;
    border: 1px 0px 0px 0px;
    border: 1px solid #BBBBBB;
    padding-left: 18px;
    font-family: 'Prompt', sans-serif; 
    font-size: 18px;
    font-weight: 500;
}

label {
    font-size: 18px;
    font-weight: 500;
    margin-top: 9px;
    margin-bottom: 9px;
    color: #555;
}

button {
    display: inline-block;
    padding: 12px 20px;
    margin-top: 10px;
    background-color: #7E60BF;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    width: 100%;
    font-family: Prompt;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.22px;
}

.monitor {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 546px;
    height: 869px;
    border-radius: 10px;
}

.monitor .container {
    width: 503px;
    margin: 28px 32px 32px 21px;
}

.status {
    background-color: #e5d9f2;
    width: 100%;
    height: 20.27%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusMessage {
    font-size: 24px;
    font-weight: 500;
    line-height: 36.29px;
    text-align: center;
}

.runtime {
    background: #D9DEF2;
    width: 100%;
    height: 39.06%;
    border-radius: 10px;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.runtimeText {
    width: 81.51%;
    height: 45.25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.staticRuntime {
    font-size: 32px;
    font-weight: 500;
    line-height: 48.38px;
    text-align: center;
}

.runtimeMessage {
    font-size: 24px;
    font-weight: 500;
    line-height: 36.29px;
    text-align: center;
    margin-top: auto;
}

.memory {
    background: #DCF2D9;
    width: 100%;
    height: 37.45%;
    border-radius: 10px;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.memoryText {
    width: 46.52%;
    height: 47.19%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.staticMemory {
    font-size: 32px;
    font-weight: 500;
    line-height: 48.38px;
    text-align: center;
    white-space: nowrap;
}

.memoryMessage {
    font-size: 24px;
    font-weight: 500;
    line-height: 36.29px;
    text-align: center;
}